<section class="user-section">
  <%disappear_invite(@user.id, @user)%>
  <h2><%= "Name: #{@user.name}"%></h2>
  <%=@invite%>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
